{% load i18n %}
{% for u in user_list %}
    {% if user !=  u %}
        <li class="list-group-item" style="overflow: hidden;">
            {{ u.username }}
            <div class="pull-right">
                <a href="{% url "invite-user" u.pk %}"
                   data-username="{{ u.username }}"
                   class="invite btn btn-sm btn-default">{% trans "Invite" %}</a>
                <a href="{% url "invite-user" u.pk %}?big="
                   data-username="{{ u.username }}"
                   class="invite btn btn-sm btn-default">{% trans "Invite on Big game" %}</a>
            </div>
        </li>
    {% endif %}
{% endfor %}