{%  load i18n %}
{% for invitation in object_list %}
    <li class="list-group-item" style="overflow: hidden;">
        {{ invitation.from_user }}
        <div class="pull-right">
            <a href="{% url "accept-invitation" invitation.pk %}"
               class="btn btn-sm btn-default">{% trans "Accept" %}</a>
            <a href="{% url "decline-invitation" invitation.pk %}"
               class="ajax btn btn-sm btn-default">{% trans "Decline" %}</a>
        </div>
    </li>
{% endfor %}