{% load i18n %}
{% for invitation in my_invitations %}
    <li class="list-group-item" data-check="{% url "check-invitation-status" pk=invitation.pk %}" style="overflow: hidden;">
        <i class="fa fa-spinner fa-pulse fa-1x"></i>
        <span>
            {% blocktrans with user=invitation.to_user %}Wait for <span class="username">`{{ user }}`</span> approval{% endblocktrans %}
        </span>

        <div class="pull-right">
            <a href="{% url "cancel-invitation" pk=invitation.pk %}"
               class="cancel btn btn-sm btn-default">
                {% trans "Cancel" %}
            </a>
        </div>

    </li>
{% endfor %}