{% extends "base.html" %}
{% load static tictactoe  i18n %}
{% block content %}
    {% if not board.winner and not board.is_complete %}
        <h1 style="text-align: center">
            <span class="tic">{{ board.user1.username }}</span> {% trans "vs" %} <span
                class="tac">{{ board.user2.username }}</span>
        </h1>

        <h2 style="text-align: center">
            <span class="{% if board.user1 == board.current_user %}tic{% else %}tac{% endif %}"></span>
        </h2>
    {% endif %}

    {% if board.winner or board.is_complete %}
        <div style="text-align: center">
            <div style="text-align: center">
                {% if board.winner %}
                    {% if board.winner == user %}
                        <h1 style="padding-bottom: 0">{% trans "Congratulations! You win!" %}</h1>
                    {% else %}
                        <h1 style="padding-bottom: 0">{% blocktrans with username=board.winner.username|capfirst %} You've lost, {{ username }} won!{% endblocktrans %}</h1>
                        <h2 style="margin-top: 0; padding-top: 0">
                            {% if board.is_timeout %}{% trans "your time is out" %}{% endif %}</h2>
                    {% endif %}
                {% else %}
                    <h1>{% trans "In a drawn game" %}</h1>
                {% endif %}
                <hr/>
            </div>
            <a href="{% url "index" %}" class="btn btn-primary">{% trans "On main board" %}</a>

            <div id="invitations" style="display: none;">
                <ul class="content"></ul>
            </div>
            {% if invitation.from_user == user %}
                <a href="{% url "invite-user" invitation.to_user.pk %}?width={{ board.width }}&height={{ board.height }}&line_width={{ board.line_width }}"
                   class="btn btn-primary"
                   id="btn-repeat">{% trans "Repeat" %}
                </a>
                <div class="btn btn-default" id="repeat-loader" style="display: none">
                    <i class="fa fa-spinner fa-pulse fa-1x"></i>
                    <i>{% trans "Wait for approval" %}</i>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <hr/>

    <div class="modal fade" id="repeatModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Acceptance" %}</h4>
                </div>
                <div class="modal-body">
                    {% blocktrans with username=invitation.from_user.username %}User {{ username }} wants to try again. Accept?{% endblocktrans %}
                </div>
                <div class="modal-footer">
                    <a href="#" id="btn-accept-repeat" type="button" class="btn btn-primary">{% trans "Yes" %}</a>
                    <a href="#" id="btn-decline-repeat" type="button" class="btn btn-default">{% trans "No" %}</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="board">

        <div id="board-field" class="{% if board.winner %}disabled{% endif %}">
            {% include "tictactoe/_board.html" %}
        </div>
        <div id="wait-screen">
            <i class="fa fa-spinner fa-pulse fa-5x"></i><br><br>
            <span style="font-size: 30px"> {% trans "Opponent turn" %}</span> <br/>
            {% blocktrans %}<span class="counter-value"></span> seconds left until end of his/her turn{% endblocktrans %}
        </div>
    </div>
    <div id="counter"
         style="text-align: center;{% if board.is_complete or board.time_left == 0 %}display: none{% endif %}">
        {% blocktrans %}<span class="counter-value"></span> seconds left until end of your turn{% endblocktrans %}
    </div>

    <script src="{% static "scripts/tictactoe/board.js" %}"></script>
    <script>
        new BoardControl(
                {% if board.current_user == user %}true{% else %}false{% endif %},
                {% if board.winner %}"{{board.winner.pk}}"{% else %}null{% endif %},
                {% if board.is_complete %}true{% else %}false{% endif %},
                {{ board.time_left|stringformat:"f" }},
                {
                    "item": "{% url "board" pk=board.pk %}",
                    "is_my_step": "{% url "is-my-step" pk=board.pk %}"
                }
        )

        {% if board.winner or board.is_complete %}
            {% if invitation.from_user == user %}
                new CompleteFromUserControl("{% url 'index' %}");
            {% else %}
                new CompleteToUserControl("{% url "has-invitation-from" invitation.from_user.pk %}");
            {% endif %}
        {% endif %}
    </script>
{% endblock %}