{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <div class="col-md-8">
        <h1>{% trans "My games" %}</h1>
        {% for board in my_boards %}
            <a href="{% url "board" pk=board.pk %}">
                <div class="col-md-3 my-game-item">
                    <div class="my-game-item-content {% if board.winner == user %}winner{% endif %} {% if not board.winner %}draw{% endif %}">
                        <div>{{ board.user1.username }} {% trans "vs" %} {{ board.user2.username }}</div>
                        <div>
                            {% if board.winner == user %}
                                {% trans "You win" %}
                            {% elif board.winner %}
                                {% blocktrans with username=board.winner.username %}{{ username }} win{% endblocktrans %}
                            {% else %}
                                {% trans "-" %}
                            {% endif %}
                        </div>
                        <div>{{ board.created_at|date:"Y.m.d h:i" }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h1>{% trans "New game" %}</h1>

        <div id="nobody-status" style="display: {% if active_users.count <= 1 %}block{% else %}none{% endif %}">
            {% trans "Nobody is there" %}
        </div>
        <div id="invitations" class="invites"
             style="display: {% if invitations.count == 0 %}none{% else %}block{% endif %}">
            <h2>{% trans "Invitations" %}</h2>
            <ul class="content list-group">
                {% include "tictactoe/_invitations.html" %}
            </ul>
            <hr/>
        </div>
        <div id="active-users" class="invites"
             style="display: {% if active_users.count <= 1 or my_invitations.count %}none{% else %}block{% endif %};">
            <h2>{% trans "Active players" %}</h2>

            <ul class="content list-group">
                {% include "tictactoe/_active_users.html" %}
            </ul>
            <hr/>
        </div>
        <div id="yours-invitation" style="display: {% if my_invitations.count %}block{% else %}none{% endif %};">
            <h2>{% trans "I invite" %}</h2>
            <ul class="content list-group">
                {% include "tictactoe/_my_invitations.html" %}
            </ul>
            <hr/>
        </div>
    </div>

    <div class="template" id="invitation-template" style="display: none">
        <li class="list-group-item" style="overflow: hidden;">
            <i class="fa fa-spinner fa-pulse fa-1x"></i>
            <span>
                {% blocktrans with user=invitation.to_user %}Wait for <span class="username">`{{ user }}`</span> approval{% endblocktrans %}
            </span>

            <div class="pull-right">
                <a href=""
                   class="cancel btn btn-sm btn-default">Cancel</a>
            </div>
        </li>
    </div>
    <script src="{% static "scripts/tictactoe/index.js" %}"></script>
    <script>
        // активация все контроллеров
        new ActiveUsersControl("{% url "active-users" %}");
        new ActiveInvitationControl("{% url "invitations" %}");
        new MyInvitationControl();
    </script>
{% endblock %}