.board {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;

  #board-field {
    width: 100%;
    height: 100%;
    z-index: 100;
    &.disabled {
      pointer-events: none;
      cursor: none;
    }
    .item {
      border: 1px solid black;
      display: block;
      float: left;
      height: 200px;
      text-align: center;
      &:hover {
        text-decoration: none;
      }

      &.tic, &.tac {
        pointer-events: none;
        cursor: none;
      }
    }
  }
}

.my-game-item{
  padding: 0.5em;
  text-align: center;
  .my-game-item-content{
    color: black;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
    background-color: #ff6181;
    &:hover {
      box-shadow: 0 0 8px silver;
    }
    &.winner {
      background-color: greenyellow;
    }
    &.draw {
      opacity: 0.25;
      &:hover {
        opacity: 1;
      }
      background-color: white;
    }
    border-radius: 1em;
    border: 1px solid black;
    padding: 1em;
  }
}

#wait-screen {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border: 0;
  //line-height: 300px;
  padding-top: 200px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
}

.tic {
  color: orange;
}

.tac {
  color: dodgerblue;
}

.template {
  display: none;
}