.board {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto; }
  .board #board-field {
    width: 100%;
    height: 100%;
    z-index: 100; }
    .board #board-field.disabled {
      pointer-events: none;
      cursor: none; }
    .board #board-field .item {
      border: 1px solid black;
      display: block;
      float: left;
      height: 200px;
      text-align: center; }
      .board #board-field .item:hover {
        text-decoration: none; }
      .board #board-field .item.tic, .board #board-field .item.tac {
        pointer-events: none;
        cursor: none; }

.my-game-item {
  padding: 0.5em;
  text-align: center; }
  .my-game-item .my-game-item-content {
    color: black;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #ff6181;
    border-radius: 1em;
    border: 1px solid black;
    padding: 1em; }
    .my-game-item .my-game-item-content:hover {
      box-shadow: 0 0 8px silver; }
    .my-game-item .my-game-item-content.winner {
      background-color: greenyellow; }
    .my-game-item .my-game-item-content.draw {
      opacity: 0.25;
      background-color: white; }
      .my-game-item .my-game-item-content.draw:hover {
        opacity: 1; }

#wait-screen {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border: 0;
  padding-top: 200px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95); }

.tic {
  color: orange; }

.tac {
  color: dodgerblue; }

.template {
  display: none; }
