{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Крестики-Нолики</title>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "stylesheets/main.css" %}"/>
</head>
<body>
<div class="container">
    <div class="navbar navbar-default">
        <a class="navbar-brand" href="/">{% trans "TicTacToe" %}</a>
        <ul class="nav navbar-nav">
        </ul>
        <div class="navbar-form pull-right">

            {% if user.is_authenticated %}
                <a href="{% url "logout" %}" class="btn btn-default">
                    {% trans "Logout" %}<strong>, {{ user }}</strong>
                </a>
            {% else %}
                <a href="{% url "login" %}" class="btn btn-default">{% trans "Login" %}</a>
            {% endif %}
        </div>

        <div class="navbar-form pull-right">

            <form class="form" action="{% url 'set-language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                <select onchange="this.form.submit();" class="form-control" name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                selected="selected"{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>

    </div>
    {% block content %}
    {% endblock %}

    {% if user.is_authenticated %}
        <script>
            // inform server about out activity
            function im_here() {
                $.get("{% url "im-here" %}");
                setTimeout(im_here, 30000)
            }
            im_here();

            function changeLanguage() {
                console.log(this);
            }
        </script>
    {% endif %}
</div>
</body>
</html>