{% extends "base.html" %}
{% load bootstrap3 i18n %}
{% block content %}
    <div class="col-md-6">
        <h1>{% trans "Sign Up" %}</h1>

        <form class="form" method="post" action="{% url "app.views.register" %}">
            {% csrf_token %}
            {% bootstrap_form form_register %}
            <button class="btn btn-default" type="submit">{% trans "Sign Up" %}</button>
        </form>
    </div>
    <div class="col-md-6">
        <h1>{% trans "Login" %}</h1>

        <form class="form" action="{% url "app.views.login_user" %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form_login %}
            <button class="btn btn-default" type="submit">{% trans "Login" %}</button>
        </form>
    </div>
{% endblock %}